asgiref==3.7.2
dj-database-url==2.1.0
Django==4.2.6
django-autoslug==1.9.8
django-redis==5.4.0
djangorestframework==3.14.0
itypes==1.2.0
phonenumbers==8.13.7
pyflakes==3.0.1
pytz==2022.7.1
redis==5.0.1
ruamel.yaml.clib==0.2.7
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
uritemplate==4.1.1
urllib3==2.0.4
